﻿<div class="row">
    <div class="col-md-12">
        <div style="margin-top:10%">
            <h2>Лабораторна робота №1</h2>
            <br/>
            <p>
                <b>Завдання (варіант 69):</b>
            </p>
            <p>
Деякі набори з n слів довжиною n мають цікаву властивість - їх можна розташувати в клітинках квадрата n×n так,
щоб всі слова набору можна прочитати як вертикально, так і горизонтально.
Прикладом такого набору слів є {"DATE", "FIND", "IDEA", "NEXT"}.

Вам дано такі 2n слов, що із них можна зробити два різних словесних квадрата разміром n×n.
Ваше завдання у тому, щоб розбити ці слова на дві групи, з n слів у кожній, і створити із слів кожної групи словесний квадрат.
Гарантується, що всі дані вам слова є англійськими словами.

Вхідні дані
Перший рядок вхідного файлу INPUT.TXT вміщує ціле число n (2 ≤ n ≤ 10). Кожен із наступних 2n рядків вміщує словa,
що складаються із великих літер англійського алфавіту. Кожне слово містить рівно n букв.

Вихідні дані
У вихідний файл OUTPUT.TXT виведіть два словесні квадрати, побудовані з даних слів. Розділіть квадрати порожнім рядком.
            </p>
            <br/>
            <p>
                <b>Приклад:</b>
            </p>
            <pre>
INPUT.TXT   OUTPUT.TXT
4           CRAB
ARTS        RARE
BEST        ARTS
CRAB        BEST
DATE
FIND        FIND
IDEA        IDEA
NEXT        NEXT
RARE        DATE
            </pre>
            </p>
            <h2>Вхідні дані</h2>
            <form method="POST">
                <br/>
                <label>Шлях до вхідного файлу:</label><br/>
                <input type="text" name="input_file"/>
                <br/>
                <label>Шлях до вихідного файлу:</label><br />
                <input type="text" name="output_file"/>
                <br/>
                <br/>
                <input type='submit' value='Виконати'/>
            </form>
        </div>
    </div>
</div>