<div class="row">
    <div class="col-md-12">
        <div style="margin-top:10%">
            <h2>Лабораторна робота №3</h2>
            <br/>
            <p>
                <b>Завдання (варіант 69):</b>
            </p>
            <p>
У країні Умландії збудували атракціон "Лабіринт знань". Лабіринт є N кімнат, занумерованих від 1 до N,
між деякими з яких є двері. Коли людина проходить через двері, показник його знань змінюється на певну величину,
фіксовану для цих дверей. Вхід у лабіринт знаходиться в кімнаті 1, вихід - у кімнаті N.
Кожен учень проходить лабіринт рівно один раз і потрапляє в ту чи іншу навчальну групу в залежності від кількості набраних знань
(при вході до лабіринту цей показник дорівнює нулю). Ваше завдання показати найкращий результат.

Вхідні дані
Перший рядок вхідного файлу INPUT.TXT містить цілі числа N (1 ≤ N ≤ 2000) – кількість кімнат та
M (0 ≤ M ≤ 10000) – кількість дверей. У кожному з наступних M рядків міститься опис дверей - номери кімнат,
з яких вона веде і в яку вона веде (через двері можна ходити тільки в одному напрямку), а також ціле число,
яке додається до знань при проходженні через двері (це число за модулем не перевищує 10000).
Двері можуть вести з кімнати в неї саму, між двома кімнатами може бути більше однієї двері.

Вихідні дані
У вихідний файл OUTPUT.TXT виведіть ":)" - якщо можна отримати необмежено великий запас знань,
":(" - якщо лабіринт пройти не можна, і максимальна кількість набраних знань інакше).
приклад
            </p>
            <br/>
            <p>
                <b>Приклад:</b>
            </p>
            <pre>
INPUT.TXT   OUTPUT.TXT
2 2         5
1 2 5
1 2 -5
            </pre>
            </p>
            <h2>Вхідні дані</h2>
            <form method="POST">
                <br/>
                <label>Input file path:</label><br />
                <input type="text" name="input_file" />
                <br/>
                <label>Output file path:</label><br />
                <input type="text" name="output_file" />
                <br/>
                <br/>
                <input type='submit' value='Виконати' />
            </form>
        </div>
    </div>
</div>